
body {
    background:#fdfde8;
}
:root {
    --note-font-family: 'Arial, sans-serif';
    --note-font-size: 16px;
    --base-font-size: 16px;
    --base-margin: 1.25rem;
    --base-padding: 1rem;
    --bootstrap-primary-color: #0d6efd; /* Bootstrap primary color */
    --background-color: #fdfde8; /* Default light background color */
    
    --note-background-color: white;
    --note-border-color: #ccc;
    --note-text-color: #00085c;
    --note-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    --note-border-radius: 5px;
    --navbar-background-color: #fff;
    --navbar-text-color: #333;
    --button-background-color: #0d6efd;
    --button-text-color: #fff;
    --checkbox-color: #0d6efd;
}

body {
    font-size: var(--base-font-size);
    margin: var(--base-margin);
    padding: var(--base-padding);
    background: var(--background-color);
    font-family: 'Roboto', sans-serif;
    color: var(--note-text-color);
}
#notesContainer2 {
    padding: 1rem;
 }


#notebookTabs {}



#noteInput {
    background: transparent;
    border: 0px;
    position: relative;
    border-top-right-radius: 5px;
    flex-wrap: wrap;
    display: flex;
    border-bottom: 0.001vh solid #ccc;
    border-bottom-right-radius: 0px;
    margin-bottom: 0.4vh;
    color: hsl(235, 100%, 18%);
    border-radius: 0px;
    padding: 10px;
    margin: 0px;
}

.cus {
    width: 100%;  
    background-color: white;
 }

@keyframes pulsate {

    0%,
    100% {
        box-shadow: 0 0 0 5px rgba(227, 55, 55, 0), 0 0 0 5px rgb(227, 55, 55);
    }

    50% {
        box-shadow: 0 0 0 20px rgba(227, 55, 55, 0.7);
        backdrop-filter: blur(5px);
    }
}

#skitt-ui.skitt-ui--listening {

    background-color: rgb(255, 75, 75) !important;
}

#skitt-ui.skitt-ui--listening #skitt-toggle-button {

    background-color: red !important;
    animation: pulsate 2s infinite;
}



.note {
    position: relative;
    flex-wrap: nowrap;
    display: flex;
    color: #00085c;
    width: 100%;
    border-radius: 0px;
    flex-direction: row;
    align-items: center;
    width: auto;
    padding:var(--base-padding);
    width: 100%;


}
    /* Ensure there's padding for text visibility */


 .note-text {

        border-bottom: 1px solid #ccc;
  width:-webkit-fill-available;
  margin-left: 2rem;
  padding:var(--base-padding);
 }
/* Optionally style the title attribute tooltip */
/* Optionally style the title attribute tooltip */
.note:hover:after {
 content: attr(data-title);
position: absolute;
left:1rem;
top: 100%;
white-space: wrap;
z-index: 20;
background-color: #f5f5f5;

max-width: 200px;
text-align: left;
padding:var(--base-padding);
color: #333;
background-color: #fff;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.25);
font-size: var(--note-font-size);

}

.shareicon {
    width: 0px;
    height: 18px;
    /* position: absolute; */
    /* background: #fefee9; */
    /* border: 1px solid #ccc; */
    cursor: pointer;
    /* border-radius: 2px; */
    opacity: 0;
    margin-left: 5PX;

}

.shareicon PATH {
    fill: WHITE;
}

.nav-link:hover .shareicon {
    width: 18px;

    opacity: 1;
}
#bar {
border-bottom: 1px solid #ccc;
background-color: #eaeaea;
background: #eaeaea;
}
#bartabs {
background: #eaeaea;

}
.nav-item  {
border-right: 1px solid #ccc;
}

.navbar {
    display: flex;
    align-items: center; /* Center items vertically */
    justify-content: space-between; /* Space out navbar items */
}

.navbar-brand {
    display: flex;
    align-items: center;
    gap: 10px; /* Space between the logo and text */
}

.navbar-toggler {
    margin-right: 10px; /* Add space between hamburger menu and logo if needed */
}
.dropdownBtn   {
    display: inline-block;
  background-color: transparent;border-right:1px solid #ccc;
  padding:var(--base-padding);
  border-radius: 0px;
  margin-left: 0.5rem;
}

.nav-link:hover .dropdownBtn,.nav-link:active .dropdownBtn,.nav-link:focus .dropdownBtn,.nav-link:target .dropdownBtn,.nav-link.active .dropdownBtn   {
    display: inline-block;
}



.nav-link {
background-color: #eaeaea;
border-bottom: 1px solid #ccc;    
}
.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
background-color: #fdfde8; 
border-bottom: 1px solid transparent;
}
.menu-icon{
border: 0px;border-radius: 0px;
}
.menu-icon:hover, .menu-icon:active,.menu-icon:target, .menu-icon:focus  {
background-color: white;
}

#userIcon {border-left:1px solid #ccc;
cursor: pointer;
border-top-right-radius: 5px;
border-top-left-radius: 5px; 
padding:var(--base-padding);
} #userIcon:hover {
background-color: white;
}

.dropdown-item-delete {
color: red; /* Set the color to red for delete action */
}

/* Optional: Change the hover color to a darker shade of red */
.dropdown-item-delete:hover {
color: darkred;
}
#notebookTabs .nav-item {
display: inline-flex;
justify-content: space-between;
align-items: center;
}
#notebookTabs .nav-item .btn {
border-radius: 0px;}

#notebookTabs .nav-link {
color:black !important;
padding:0px;
border-radius: 0px !important;
height: 100%;
}
.note.finished {
text-decoration: line-through;
color: #aaa; /* Gray out the text to show it's completed */
}

.note-checkbox {
margin-right: 10px; /* Adjust the margin size as needed */
}
.delete-note {
position: absolute;
right: 0px;    font-size: var(--note-font-size);
padding:var(--base-padding);
margin-left: 10px; 
color: red;
    border:1px solid red;
border: none;
border-radius: 4px;
cursor: pointer;
visibility: hidden; 
}

.note:hover .delete-note {
visibility: visible; 
}
.logo {
text-decoration: none;
color: black;    font-size: var(--note-font-size);

vertical-align: middle;
display: flex;
flex-direction: row;
align-items: center;
}
.navbar-collapse {
flex-grow: 0;
}
.navbar {
padding:0;
}
.container-fluid {
padding:0;
}
/* Base CSS for checkboxes */
.checkbox {
margin: 0;
padding: 0;
vertical-align: middle;
}

/* Responsive adjustments */
@media (max-width: 600px) {
.note-item {
flex-direction: column;
align-items: flex-start;
}

.checkbox {
margin-right: 10px; /* Adjust spacing on smaller screens */
}
}

/* Flexbox setup for note items */
.note-item {
display: flex;
align-items: center;padding:var(--base-padding);
}
.nav-link {
     border-bottom: 1px solid #ccc;
    border-top-right-radius: 0px;
    border-top-left-radius: 0px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
     border-bottom: 1px solid transparent;
}

#notebookTabs .nav-item {
    display: inline-flex;
    justify-content: space-between;
    align-items: center;
    border-right: 1px solid #ccc;
}.skitt-ui--not-listening #skitt-toggle-button {
    background-color: #0d6efd !important;
}
.scrollable-nav {
    overflow-x: auto;
    
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
}


#notebookTabs  {
    overflow-x: auto;
    display: flex;
    flex-wrap: nowrap;
    white-space: nowrap;
    flex-direction: row;
    align-items: stretch;
    align-content: flex-start;
    justify-content: flex-start;
    max-width: 100%;
}



.custom-tooltip {
    position: absolute;
    border: 1px solid #ccc;
    background-color: #fff;
    
right: 0px;
    top: 2.75rem;
    z-index: 1000;
    width: auto; /* Ensure it stretches as needed */
    max-width: 300px; /* Avoid overly wide tooltips */
    border-radius: 4px;
    padding:0px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.18);
    white-space: nowrap; /* Keeps the text on a single line, scroll to view if needed */
    overflow: hidden;
    text-overflow: ellipsis;
}
#spaceName {
border: 1px solid #ccc; 
font-size: var(--note-font-size);
padding:var(--base-padding);
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    background: white;
}

#shareSpaceButton {
  
    margin-left: 10px;
}

.modal-backdrop.show {
    opacity:0;
}
.modal {
        backdrop-filter: blur(4px);
    background:rgba(255,255,255,0.5);
}
.modal-content {
  background:rgba(255,255,255,0.5);      backdrop-filter: blur(4px);
}
.status {
    position: absolute;
    
    bottom: 20px;
    left: 20px;
}.status.active {
    color: red;
    background: #ffffff;padding:var(--base-padding);
    border: 1px solid;
    box-shadow: #ff00006b 0 0 12px 0px;
}
/* Add this CSS to your project's stylesheet */

./* Flex container to align checkbox and text input */
.flex-container {
    display: flex;
    align-items: center; /* Vertically align items */
    gap: 10px; /* Space between checkbox and input */
    padding: 5px; /* Optional padding for overall container */
}
/* Add this CSS to your project's stylesheet */
/* Add this CSS to your project's stylesheet */

.checkbox-container {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: auto; /* Set height to auto to better fit content */
    position: relative; /* Ensure position for custom checkmark alignment */
    gap: 5px; /* Add space between checkbox and label (if any) */
}

.checkbox-container input[type="checkbox"] {
    width: 1.25em; /* Set size to match checkmark */
    height: 1.25em;
    cursor: pointer;
    appearance: none; /* Remove default checkbox styling */
    border: 2px solid #ccc; /* Add border to indicate the checkbox area */
    border-radius: 4px; /* Optional: Make the checkbox corners rounded */
    background-color: #fff;
    position: relative;
}

/* Additional styling for custom checkmark */
.checkmark {
    width: 1.25em; /* Match size to input checkbox */
    height: 1.25em;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    pointer-events: none;
}

/* Change background color when checkbox is checked */
.checkbox-container input[type="checkbox"]:checked + .checkmark {
    background-color: #2196F3;
    border-color: #2196F3;
}

/* Add checkmark symbol when checked */
.checkmark:after {
    content: "";
    position: absolute;
    left: 0.35em;
    top: 0.15em;
    width: 0.25em;
    height: 0.6em;
    border: solid white;
    border-width: 0 0.15em 0.15em 0;
    transform: rotate(45deg);
    display: none;
}

/* Display checkmark symbol when checkbox is checked */
.checkbox-container input[type="checkbox"]:checked + .checkmark:after {
    display: block;
}


.text-input:focus {
    outline: none;
    border-color: var(--bootstrap-primary-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

#qrCodeContainer img {
    width: 30px !important;
}
#qrCodeContainer:hover img {
    width: 100% !important;
}
